// <copyright file="InvoicesController.cs" company="APIMatic">
// PagarmeApiSDK.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace PagarmeApiSDK.Standard.Controllers
{
    /// <summary>
    /// InvoicesController.
    /// </summary>
    internal class InvoicesController : BaseController, IInvoicesController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="InvoicesController"/> class.
        /// </summary>
        internal InvoicesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Updates the metadata from an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: The invoice id.</param>
        /// <param name="request">Required parameter: Request for updating the invoice metadata.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse UpdateInvoiceMetadata(
                string invoiceId,
                Models.UpdateMetadataRequest request,
                string idempotencyKey = null)
            => CoreHelper.RunTask(UpdateInvoiceMetadataAsync(invoiceId, request, idempotencyKey));

        /// <summary>
        /// Updates the metadata from an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: The invoice id.</param>
        /// <param name="request">Required parameter: Request for updating the invoice metadata.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> UpdateInvoiceMetadataAsync(
                string invoiceId,
                Models.UpdateMetadataRequest request,
                string idempotencyKey = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/invoices/{invoice_id}/metadata")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Body(body => body.Setup(request))
                      .Template(template => template.Setup("invoice_id", invoiceId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// GetPartialInvoice EndPoint.
        /// </summary>
        /// <param name="subscriptionId">Required parameter: Subscription Id.</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse GetPartialInvoice(
                string subscriptionId)
            => CoreHelper.RunTask(GetPartialInvoiceAsync(subscriptionId));

        /// <summary>
        /// GetPartialInvoice EndPoint.
        /// </summary>
        /// <param name="subscriptionId">Required parameter: Subscription Id.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> GetPartialInvoiceAsync(
                string subscriptionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/subscriptions/{subscription_id}/partial-invoice")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("subscription_id", subscriptionId))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Cancels an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice id.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse CancelInvoice(
                string invoiceId,
                string idempotencyKey = null)
            => CoreHelper.RunTask(CancelInvoiceAsync(invoiceId, idempotencyKey));

        /// <summary>
        /// Cancels an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice id.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> CancelInvoiceAsync(
                string invoiceId,
                string idempotencyKey = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/invoices/{invoice_id}")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("invoice_id", invoiceId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create an Invoice.
        /// </summary>
        /// <param name="subscriptionId">Required parameter: Subscription Id.</param>
        /// <param name="cycleId">Required parameter: Cycle Id.</param>
        /// <param name="request">Optional parameter: Example: .</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse CreateInvoice(
                string subscriptionId,
                string cycleId,
                Models.CreateInvoiceRequest request = null,
                string idempotencyKey = null)
            => CoreHelper.RunTask(CreateInvoiceAsync(subscriptionId, cycleId, request, idempotencyKey));

        /// <summary>
        /// Create an Invoice.
        /// </summary>
        /// <param name="subscriptionId">Required parameter: Subscription Id.</param>
        /// <param name="cycleId">Required parameter: Cycle Id.</param>
        /// <param name="request">Optional parameter: Example: .</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> CreateInvoiceAsync(
                string subscriptionId,
                string cycleId,
                Models.CreateInvoiceRequest request = null,
                string idempotencyKey = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/subscriptions/{subscription_id}/cycles/{cycle_id}/pay")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Body(body => body.Setup(request))
                      .Template(template => template.Setup("subscription_id", subscriptionId))
                      .Template(template => template.Setup("cycle_id", cycleId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Gets all invoices.
        /// </summary>
        /// <param name="page">Optional parameter: Page number.</param>
        /// <param name="size">Optional parameter: Page size.</param>
        /// <param name="code">Optional parameter: Filter for Invoice's code.</param>
        /// <param name="customerId">Optional parameter: Filter for Invoice's customer id.</param>
        /// <param name="subscriptionId">Optional parameter: Filter for Invoice's subscription id.</param>
        /// <param name="createdSince">Optional parameter: Filter for Invoice's creation date start range.</param>
        /// <param name="createdUntil">Optional parameter: Filter for Invoices creation date end range.</param>
        /// <param name="status">Optional parameter: Filter for Invoice's status.</param>
        /// <param name="dueSince">Optional parameter: Filter for Invoice's due date start range.</param>
        /// <param name="dueUntil">Optional parameter: Filter for Invoice's due date end range.</param>
        /// <param name="customerDocument">Optional parameter: Example: .</param>
        /// <returns>Returns the Models.ListInvoicesResponse response from the API call.</returns>
        public Models.ListInvoicesResponse GetInvoices(
                int? page = null,
                int? size = null,
                string code = null,
                string customerId = null,
                string subscriptionId = null,
                DateTime? createdSince = null,
                DateTime? createdUntil = null,
                string status = null,
                DateTime? dueSince = null,
                DateTime? dueUntil = null,
                string customerDocument = null)
            => CoreHelper.RunTask(GetInvoicesAsync(page, size, code, customerId, subscriptionId, createdSince, createdUntil, status, dueSince, dueUntil, customerDocument));

        /// <summary>
        /// Gets all invoices.
        /// </summary>
        /// <param name="page">Optional parameter: Page number.</param>
        /// <param name="size">Optional parameter: Page size.</param>
        /// <param name="code">Optional parameter: Filter for Invoice's code.</param>
        /// <param name="customerId">Optional parameter: Filter for Invoice's customer id.</param>
        /// <param name="subscriptionId">Optional parameter: Filter for Invoice's subscription id.</param>
        /// <param name="createdSince">Optional parameter: Filter for Invoice's creation date start range.</param>
        /// <param name="createdUntil">Optional parameter: Filter for Invoices creation date end range.</param>
        /// <param name="status">Optional parameter: Filter for Invoice's status.</param>
        /// <param name="dueSince">Optional parameter: Filter for Invoice's due date start range.</param>
        /// <param name="dueUntil">Optional parameter: Filter for Invoice's due date end range.</param>
        /// <param name="customerDocument">Optional parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ListInvoicesResponse response from the API call.</returns>
        public async Task<Models.ListInvoicesResponse> GetInvoicesAsync(
                int? page = null,
                int? size = null,
                string code = null,
                string customerId = null,
                string subscriptionId = null,
                DateTime? createdSince = null,
                DateTime? createdUntil = null,
                string status = null,
                DateTime? dueSince = null,
                DateTime? dueUntil = null,
                string customerDocument = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListInvoicesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/invoices")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("page", page))
                      .Query(query => query.Setup("size", size))
                      .Query(query => query.Setup("code", code))
                      .Query(query => query.Setup("customer_id", customerId))
                      .Query(query => query.Setup("subscription_id", subscriptionId))
                      .Query(query => query.Setup("created_since", createdSince.HasValue ? createdSince.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("created_until", createdUntil.HasValue ? createdUntil.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("status", status))
                      .Query(query => query.Setup("due_since", dueSince.HasValue ? dueSince.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("due_until", dueUntil.HasValue ? dueUntil.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("customer_document", customerDocument))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Gets an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice Id.</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse GetInvoice(
                string invoiceId)
            => CoreHelper.RunTask(GetInvoiceAsync(invoiceId));

        /// <summary>
        /// Gets an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice Id.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> GetInvoiceAsync(
                string invoiceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/invoices/{invoice_id}")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("invoice_id", invoiceId))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates the status from an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice Id.</param>
        /// <param name="request">Required parameter: Request for updating an invoice's status.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public Models.GetInvoiceResponse UpdateInvoiceStatus(
                string invoiceId,
                Models.UpdateInvoiceStatusRequest request,
                string idempotencyKey = null)
            => CoreHelper.RunTask(UpdateInvoiceStatusAsync(invoiceId, request, idempotencyKey));

        /// <summary>
        /// Updates the status from an invoice.
        /// </summary>
        /// <param name="invoiceId">Required parameter: Invoice Id.</param>
        /// <param name="request">Required parameter: Request for updating an invoice's status.</param>
        /// <param name="idempotencyKey">Optional parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetInvoiceResponse response from the API call.</returns>
        public async Task<Models.GetInvoiceResponse> UpdateInvoiceStatusAsync(
                string invoiceId,
                Models.UpdateInvoiceStatusRequest request,
                string idempotencyKey = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetInvoiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/invoices/{invoice_id}/status")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Body(body => body.Setup(request))
                      .Template(template => template.Setup("invoice_id", invoiceId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}