// <copyright file="TransfersController.cs" company="APIMatic">
// PagarmeApiSDK.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace PagarmeApiSDK.Standard.Controllers
{
    /// <summary>
    /// TransfersController.
    /// </summary>
    internal class TransfersController : BaseController, ITransfersController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransfersController"/> class.
        /// </summary>
        internal TransfersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// GetTransferById EndPoint.
        /// </summary>
        /// <param name="transferId">Required parameter: Example: .</param>
        /// <returns>Returns the Models.GetTransfer response from the API call.</returns>
        public Models.GetTransfer GetTransferById(
                string transferId)
            => CoreHelper.RunTask(GetTransferByIdAsync(transferId));

        /// <summary>
        /// GetTransferById EndPoint.
        /// </summary>
        /// <param name="transferId">Required parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetTransfer response from the API call.</returns>
        public async Task<Models.GetTransfer> GetTransferByIdAsync(
                string transferId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetTransfer>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/transfers/{transfer_id}")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transfer_id", transferId))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateTransfer EndPoint.
        /// </summary>
        /// <param name="request">Required parameter: Example: .</param>
        /// <returns>Returns the Models.GetTransfer response from the API call.</returns>
        public Models.GetTransfer CreateTransfer(
                Models.CreateTransfer request)
            => CoreHelper.RunTask(CreateTransferAsync(request));

        /// <summary>
        /// CreateTransfer EndPoint.
        /// </summary>
        /// <param name="request">Required parameter: Example: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.GetTransfer response from the API call.</returns>
        public async Task<Models.GetTransfer> CreateTransferAsync(
                Models.CreateTransfer request,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetTransfer>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfers/recipients")
                  .WithAuth("httpBasic")
                  .Parameters(parameters => parameters
                      .Body(body => body.Setup(request))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Gets all transfers.
        /// </summary>
        /// <returns>Returns the Models.ListTransfers response from the API call.</returns>
        public Models.ListTransfers GetTransfers()
            => CoreHelper.RunTask(GetTransfersAsync());

        /// <summary>
        /// Gets all transfers.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ListTransfers response from the API call.</returns>
        public async Task<Models.ListTransfers> GetTransfersAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTransfers>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/transfers")
                  .WithAuth("httpBasic"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}